<h3>Your Shopping Cart</h3>

<div *ngIf="items.length > 0; else emptyCartBlock">
    <table class="table-striped mt-1 mb-1 p-3 w-100">
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
        <tbody>
            <tr class="cart-item" *ngFor="let item of items; index as idx">
                <th scope="row">{{item.name}}</th>
                <td>{{item.price | currency: item.baseCurrency}}</td>
                <td>1</td><!-- FIXME -->
                <td class="text-right">
                    <button class="btn btn-danger" data-toggle="tooltip" data-placement="bottom"
                        title="Remove this item" (click)="removeItem(idx)">X</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th scope="row">Total</th>
                <th>{{totalCost | currency: delivery.baseCurrency}}</th>
            </tr>
        </tfoot>
    </table>
    <button *ngIf="!hasDelivery" (click)="addDelivery()" class="btn btn-success">Add Delivery</button>
    <button *ngIf="hasDelivery" class="btn btn-success" data-toggle="modal" data-target="#checkOutModal">
        Checkout
    </button>
    or
    <button data-toggle="modal" data-target="#clearCartModal" class="btn btn-danger">
        Empty basket
    </button>

    <!-- Checkout Modal -->
    <div class="modal" id="checkOutModal" tabindex="-1" role="dialog" aria-labelledby="checkOutModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="checkOutModalTitle">Order Checkout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Thanks for the order! Your Pizza is coming along!
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="checkOut(); goHome()" class="btn btn-success"
                        data-dismiss="modal">Hurray!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Clear Cart Confirmation Modal -->
    <div class="modal" id="clearCartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clearCartModalTitle">Empty Basket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to discard all the products? Don't let yourself crave with hunger!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">
                        Oh, no, no way!
                    </button>
                    <button type="button" (click)="clearCart(); goHome()" class="btn btn-warning" data-dismiss="modal">
                        Yes, please!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #emptyCartBlock>
    <p>But for now it's empty.</p>
    <p>Hey, why don't grab your best Pizza <a routerLink="/pizza">over here</a>?</p>
</ng-template>