<div class="container justify-content-center w-90" *ngIf="pizza; else loadingItemBlock">
    <div class="card-deck">
        <div class="card mt-3" style="min-width: 15rem;">
            <a [routerLink]="['/pizza']" class="btn btn-secondary">Back</a>
            <img class="card-img-top" src="/assets/p/{{pizza.pictureFilename}}" alt="{{pizza.name}}">
            <div class="card-body">
                <h5 class="card-title">{{pizza.name}}</h5>
                <h6 class="card-subtitle text-muted">
                    Basic toppings: {{this.toppingsListString}}
                </h6>
                <div class="card-text text-justify">{{pizza.description}}</div>
            </div>
            <div class="card-footer m-0 p-1">
                <div class="d-flex justify-content-between align-middle">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary" *ngFor="let size of pizza.sizes" data-toggle="tooltip"
                            data-placement="top" title="{{size.description}}">
                            <input type="radio" name="size" id="{{size.code}}" autocomplete="off" value="{{size.code}}"
                                (click)="updatePrice(size.priceMarkup); updateDia(size.dia); updateSize(size)">
                            {{size.code | uppercase}}
                        </label>
                    </div>
                    <div class="text-center">
                        {{pizza.price | currency: pizza.baseCurrency}}<br/>
                        {{pizza.dia}} cm
                    </div>
                    <button (click)="displayToast('addedToCartToast'); addToCart(pizza)" class="btn btn-info">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loadingItemBlock>
    Wait up, wait up! I'm asking our Chef for details about the Pizza you like!
</ng-template>