<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/favicon-32x32.png" width="32" height="32" class="d-inline-block align-top" alt="">
    The best Pizza in Town!
  </a>
  <button class="btn btn-warning" routerLink='/cart' data-toggle="tooltip" data-placement="bottom" title="{{addedItemName}}">Cart <span *ngIf="!shoppingCartIsEmpty" class="badge badge-success">*</span></button>
</nav>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>